@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --white-color: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
  background-color: var(--light-gray);
  font-family: "Outfit", sans-serif;
}

h1 {
  color: var(--dark-blue);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 1rem;
}

p {
  color: var(--grayish-blue);
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
